.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 100%;
    min-height: 30vh;
    border: 10px solid black;
}

.Header h1{
    color: black;
}