.container {
    display: flex;
    justify-content: center;
    background-color: brown;
}

.container ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

li{
    margin: 20px;
    color: white;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: black;
    text-decoration: none;
}
